* {
  box-sizing: border-box;
}

body {
  background-color: #A8A8B0;
  font-family: Sans-Serif;
  margin: 0;
}
a, h1,h2,h3,h4,h5,h6,p,span,html {
  color: #CCCCCC;
}

#navbar-header{
  width: 100%;
  background-color: #2D2D30;
  color: #CCCCCC;
  padding-right:30px;
}
.icons{
	text-align:center;
}
.icons img{
	height:30px;
}
#thanks{
  text-align: center;
}
.blurb{
	padding-bottom:30px;
}
.about{
padding-bottom:25px;
}
.about img{
height:4em;
  float: left;
}
.about h1{
  position: relative;
  top: 15px;
  left: 10px;
  display:inline;
}

.about h2{
  position: relative;
  display:inline;
  float: right;
  top:0px;
  bottom:0px;
  }

.navbar{
	height:50px;
  background-color: #2D2D30;
  color: #CCCCCC;
  }
.center {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-bottom:60px;
}
.logo {
  padding-top:40px;
  height: 240px;
  width: auto;
}
.center > h1 {
  color: #2D2D30;
}

.subtitle {
  margin-top: -10;
}

.subtitle {
  color: #707070;
  font-weight: bold;
  font-size: 1.2em;
}

#dlbox {
  padding:10px;
  background-color: #686868;
  text-align:center;
}
#dllink:hover{
  color: #CCCCCC;
}
#dllink:focus{
  color: #CCCCCC;
}

#info {
  padding: 20px;
  background-color: #686868;
  text-align:left;
display:block;
overflow:auto;
  color: #CCCCCC;
}

#contact {
  text-align:center;
  color: #CCCCCC;
}
#drew{
  text-decoration: underline;
}
#drew:hover{
	color:#AFAFBA
}
#drew:focus{
	color:#AFAFBA
}
#webzone:link {
  color: #AFAFBA;
}
#webzone:visited {
  color: #AFAFBA;
}
#webzone:hover {
  color: #4D4D67;
}
#webzone:active {
  color: #AFAFBA;
}

.download {
  display:inline-block;
  background-color: #2D2D30;
  color: #AFAFBA;
  border-radius: 4px;
  text-decoration: none;
  padding: 15px;
  margin: 10px;
  text-align:center;
}
.download:hover {
  text-decoration: underline;
}

.link {
  color: #20B2AA;
}
html{

   position:relative;
   min-height:100%;
   }
#footer {
height:60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #2D2D30;
  color: #CCCCCC;
  padding-top: 20px;
}
