* {
  box-sizing: border-box;
}

body {
  background-color: #A8A8B0;
  font-family: Sans-Serif;
}

h1,h2,h3,h4,h5,h6,p,span,div {
  color: #CCCCCC;
}

.center {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.logo {
  height: 300px;
  width: auto;
}

.center > h1 {
  color: #2D2D30;
}

.subtitle {
  margin-top: -20;
}

.subtitle {
  color: #707070;
  font-weight: bold;
  font-size: 1.2em;
}

.panel {
  padding: 20px;
  background-color: #686868;
}

.download {
  display:inline-block;
  background-color: #2D2D30;
  color: #CCCCCC;
  border-radius: 4px;
  text-decoration: none;
  padding: 15px;
  margin: 10px;
}
.download:hover {
  text-decoration: underline;
}

.link {
  color: #20B2AA;
}

#info {
  height: 500px;
}