* {
  box-sizing: border-box;
}

body {
  background-color: #A8A8B0;
  font-family: Sans-Serif;
  margin: 0;
}

a, h1,h2,h3,h4,h5,h6,p,span,div {
  color: #CCCCCC;
}

#navbar-header{
  width: 70%;
  background-color: #2D2D30;
  color: #CCCCCC;
  padding-right:30px;
}
.navbar{
  background-color: #2D2D30;
  color: #CCCCCC;
  }
.center {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.logo {
  height: 200px;
  width: auto;
}
.center > h1 {
  color: #2D2D30;
}

.subtitle {
  margin-top: -10;
}

.subtitle {
  color: #707070;
  font-weight: bold;
  font-size: 1.2em;
}

#dlbox {
  padding:10px;
  background-color: #686868;
  text-align:center;
}
#dllink:hover{
  color: #CCCCCC;
}
#dllink:focus{
  color: #CCCCCC;
}

#info {
  padding: 20px;
  background-color: #686868;
  text-align:left;
display:block;
overflow:auto;
}

#contact {
  text-align:center;
  color: #CCCCCC;
}
a:hover, a:focus{
  color: #AFAFBA;
}
#webzone:link {
  color: #AFAFBA;
}
#webzone:visited {
  color: #AFAFBA;
}
#webzone:hover {
  color: #4D4D67;
}
#webzone:active {
  color: #AFAFBA;
}

.download {
  display:inline-block;
  background-color: #2D2D30;
  color: #AFAFBA;
  border-radius: 4px;
  text-decoration: none;
  padding: 15px;
  margin: 10px;
  text-align:center;
}
.download:hover {
  text-decoration: underline;
}

.link {
  color: #20B2AA;
}

#footer {
  width: 70%;
  background-color: #2D2D30;
  color: #CCCCCC;
  padding: 20px;
}

.legalese {
  font-size: 0.8em;
}